
.even {

    color: brown;
    background-color: cornsilk;
}


.odd {
 color: darkred;
 background-color: gold;


}

h1 {

    color: gold;
    background-color: gray;
}

h2 { 
color: greenyellow;
background-color: hotpink;

}