body {
    overflow-y: scroll;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
body[Attributes Style] {
    direction: ltr;
    unicode-bidi: isolate;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}





/* //////////////////////////////////////////////// */


#facebook ._-kb div {
    font-family: inherit;
}
._li._li._li {
    overflow: initial;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}




/* ///////////////////////////////////////// */





#facebook ._-kb div {
    font-family: inherit;
}
._li._li._li {
    overflow: initial;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}



/* //////////////////////// */



#facebook ._-kb div {
    font-family: inherit;
}
._3_s1._3_s0 {
    background-color: #29487d;
    color: #fff;
}
._3_s0._1toe {
    height: 0;
    overflow: hidden;
}
._3_s0._3_s0 {
    border: 0;
    display: flex;
    -webkit-font-smoothing: antialiased;
    height: 44px;
    min-width: 600px;
    position: relative;
    text-align: left;
    top: 0;
    transition: top .3s, height .3s;
    z-index: 301;
}
.noborder {
    border: none;
}
.uiBoxGray {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
#globalContainer {
    margin: 0 auto;
    position: relative;
    zoom: 1;
}
.uiContextualLayerParent {
    position: relative;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}



#facebook ._-kb div {
    font-family: inherit;
}
#content {
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
}
.clearfix {
    zoom: 1;
}
.fb_content {
    min-height: 640px;
    padding-bottom: 20px;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#facebook ._-kb div {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
@media only screen and (max-width: 900px)
._95ka {
    padding-bottom: 164px;
    padding-top: 20px;
}
._95ka {
    padding-bottom: 112px;
    padding-top: 72px;
}
._8op_ {
    padding-bottom: 40px;
    padding-top: 62px;
}
._8icx {
    padding-top: 82px;
}
._95k9 {
    background: #f0f2f5;
    min-width: 500px;
}
._8esj {
    background: #edf0f5;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
@media only screen and (max-width: 900px)
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media only screen and (max-width: 1075px)
._8esk {
    height: 496px;
    margin: 0 40px;
    width: auto;
}
._8esk {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
@media only screen and (max-width: 900px)
._8esf ._8esl {
    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 1075px)
._8esf ._8esl {
    width: 400px;
}
._8esf ._8esl {
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    width: 580px;
}
._8esl {
    display: inline-block;
    margin-right: 15.999px;
    vertical-align: top;
    width: 565px;
}
user agent stylesheet
div {
    display: block;
}
@media only screen and (max-width: 900px)
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}



@media only screen and (max-width: 900px)
#facebook ._8icx._8opv ._8ice {
    padding: 0 0 20px 0;
}
#facebook ._8icx._8opv ._8ice {
    padding: 112px 0 16px;
}
#facebook ._8icx ._8ice {
    padding: 0 0 24px;
}
#facebook ._-kb div {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
@media only screen and (max-width: 900px)
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


@media only screen and (max-width: 900px)
#facebook ._8esj._8esf._8icx._8opv ._8eso {
    padding: 0;
}
@media only screen and (max-width: 1075px)
#facebook ._8esj._8esf._8icx._8opv ._8eso {
    font-size: 24px;
    line-height: 28px;
    width: auto;
}
#facebook ._8esj._8esf._8icx._8opv ._8eso {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
#facebook ._8esj._8esf._8icx ._8eso {
    font-size: 24px;
    line-height: 32px;
    padding: 0 0 20px;
}
#facebook ._8esj._8esf._8ilg ._8eso {
    font-size: 24px;
    line-height: 32px;
    padding: 60px 0 20px;
}
#facebook ._8esj._8esf ._8eso {
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    width: 471px;
}
#facebook ._8esj._8icx ._8eso {
    padding-top: 0;
}
#facebook ._8esj ._8eso {
    color: #333;
    display: inline-block;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 36px;
    padding: 42px 0 24px;
    text-rendering: optimizelegibility;
    width: 456px;
}
#facebook ._-kb h1, #facebook ._-kb h2, #facebook ._-kb h3, #facebook ._-kb h4, #facebook ._-kb h5, #facebook ._-kb h6, #facebook ._-kb p {
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
    color: #1c1e21;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#facebook ._-kb div {
    font-family: inherit;
}
@media only screen and (max-width: 900px)
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
@media only screen and (max-width: 900px)
._8esf ._8esl {
    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 1075px)
._8esf ._8esl {
    width: 400px;
}
._8esf ._8esl {
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    width: 580px;
}
._8esl {
    display: inline-block;
    margin-right: 15.999px;
    vertical-align: top;
    width: 565px;
}
user agent stylesheet
div {
    display: block;
}
@media only screen and (max-width: 900px)
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
@media only screen and (max-width: 900px)
._8esn {
    float: none;
    margin: 0 auto;
}
@media only screen and (max-width: 1075px)
._8esn {
    float: right;
}
._8esn {
    display: inline-block;
    vertical-align: top;
}
user agent stylesheet
div {
    display: block;
}
@media only screen and (max-width: 900px)
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


@media only screen and (max-width: 900px)
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media only screen and (max-width: 1075px)
._8esk {
    height: 496px;
    margin: 0 40px;
    width: auto;
}
._8esk {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
@media only screen and (max-width: 900px)
._95ka {
    padding-bottom: 164px;
    padding-top: 20px;
}
._95ka {
    padding-bottom: 112px;
    padding-top: 72px;
}
._8op_ {
    padding-bottom: 40px;
    padding-top: 62px;
}
._8icx {
    padding-top: 82px;
}
._95k9 {
    background: #f0f2f5;
    min-width: 500px;
}
._8esj {
    background: #edf0f5;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}



#facebook ._-kb div {
    font-family: inherit;
}
#content {
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
}
.clearfix {
    zoom: 1;
}
.fb_content {
    min-height: 640px;
    padding-bottom: 20px;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}



#facebook ._-kb div {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}



#facebook ._-kb div {
    font-family: inherit;
}
#globalContainer {
    margin: 0 auto;
    position: relative;
    zoom: 1;
}
.uiContextualLayerParent {
    position: relative;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}




#facebook ._-kb div {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}



#facebook ._-kb span {
    font-family: inherit;
}
#facebook ._-kb div {
    font-family: inherit;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}



img {
    border: 0;
}
img[Attributes Style] {
    width: 0px;
    aspect-ratio: auto 0 / 0;
    height: 0px;
}
#facebook ._-kb span {
    font-family: inherit;
}
#facebook ._-kb div {
    font-family: inherit;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb span {
    font-family: inherit;
}
#facebook ._-kb div {
    font-family: inherit;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


#facebook ._-kb div {
    font-family: inherit;
}
._li._li._li {
    overflow: initial;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

element.style {
    display: none;
}


#facebook ._-kb div {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


















#facebook ._-kb div {
    font-family: inherit;
}

/* @media only screen and (max-width: 900px) */

._8esf ._8esl {
    margin: 0 auto;
    padding: 0;
}
/* @media only screen and (max-width: 1075px) */

._8esf ._8esl {
    width: 400px;
}

._8esf ._8esl {
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    width: 580px;
}

._8esl {
    display: inline-block;
    margin-right: 15.999px;
    vertical-align: top;
    width: 565px;
}
user agent stylesheet
div {
    display: block;
}
/* @media only screen and (max-width: 900px)
<style> */
._8esk {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}



/* .c1{
    height: 496px;
    margin: 0 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

 .body1{
    height: 106px;
    margin: -28px;
} 

 .abc{

    font-size: 24px;
    line-height: 28px;
    width: auto;

} 


/* .abc, .body1P{
        margin: 0 auto;
        padding: 0;

} */


/*.footer{
     background-color: brown;
    width: 100%;
    height: 80%; 
} 



/*

 /*div{
     font-family: inherit; 
} */



